/* Sorry for the mess. The site needed no build proccess. */

/* Reset CSS α */
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* Reset CSS ω */

* {
  box-sizing: border-box
}

.clear {
  clear: both;
}

body {
  z-index: 1;
  position: relative;
  font-family: 'HelveticaNeue-Light-Local', 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
  font-weight: 300;
  font-family: sans-serif;
  font-kerning: normal;
  letter-spacing: 1px;
  background-size: cover;
  background-color: #04B117;
  background: url('../img/bg.jpg') fixed center bottom;
}

@media screen {
  body {
    background-size: auto 100%;
  }
}

@media screen and (min-aspect-ratio: 43/20) {
  body {
    background-size: 100% auto;
  }
}

/* background fade on-load α */
.bg {
  display: none;
}

@media all {
  .bg {
    display: block;
    pointer-events: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    opacity: 0;
    z-index: 0;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #04B117;
    -webkit-transition: opacity .4s ease-out;
    -moz-transition: opacity .4s ease-out;
    -ms-transition: opacity .4s ease-out;
    -o-transition: opacity .4s ease-out;
    transition: opacity .4s ease-out;
  }

  .bg.active {
    opacity: 1;
    -webkit-transition: opacity 0;
    -moz-transition: opacity 0;
    -ms-transition: opacity 0;
    -o-transition: opacity 0;
    transition: opacity 0;
  }
}
/* background fade on-load ω */

.header-wrapper {
  position: absolute;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  /* http://www.cssmatic.com/es/gradient-generator#'\-moz\-linear\-gradient\%28left\%2C\%20rgba\%2851\%2C51\%2C51\%2C0\%29\%200\%25\%2C\%20rgba\%2851\%2C51\%2C51\%2C0\.3\%29\%2030\%25\%2C\%20rgba\%2851\%2C51\%2C51\%2C0\.3\%29\%2070\%25\%2C\%20rgba\%2851\%2C51\%2C51\%2C0\%29\%20100\%25\%29\%3B' */
  background: rgba(51,51,51,0);
  background: -moz-linear-gradient(left, rgba(51,51,51,0) 0%, rgba(51,51,51,0.3) 30%, rgba(51,51,51,0.3) 70%, rgba(51,51,51,0) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(51,51,51,0)), color-stop(30%, rgba(51,51,51,0.3)), color-stop(70%, rgba(51,51,51,0.3)), color-stop(100%, rgba(51,51,51,0)));
  background: -webkit-linear-gradient(left, rgba(51,51,51,0) 0%, rgba(51,51,51,0.3) 30%, rgba(51,51,51,0.3) 70%, rgba(51,51,51,0) 100%);
  background: -o-linear-gradient(left, rgba(51,51,51,0) 0%, rgba(51,51,51,0.3) 30%, rgba(51,51,51,0.3) 70%, rgba(51,51,51,0) 100%);
  background: -ms-linear-gradient(left, rgba(51,51,51,0) 0%, rgba(51,51,51,0.3) 30%, rgba(51,51,51,0.3) 70%, rgba(51,51,51,0) 100%);
  background: linear-gradient(to right, rgba(51,51,51,0) 0%, rgba(51,51,51,0.3) 30%, rgba(51,51,51,0.3) 70%, rgba(51,51,51,0) 100%);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#333333,endColorstr=#333333,GradientType=1)";
}

header {
  padding: 0 20px;
  max-width: 1152px;
  width: 100%;
  height: 68px;
  text-align: justify;
  -ms-text-justify: distribute-all-lines;
  text-justify: distribute-all-lines;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

header:after {
  content: '';
  width: 100%;
  display: inline-block;
  font-size: 0;
  line-height: 0;
}

header a {
  display: inline-block;
  text-decoration: none;
  height: 68px;
  vertical-align: top;
}

header .logo {
  overflow: hidden;
  width: 387px;
}

@media screen and (max-width: 1279px) {
  header .logo {
    width: 99px;
  }
}

header .logo img {
  display: block;
  padding-top: 7px;
}

header .link {
  position: relative;
  color: #fff;
  text-transform: uppercase;
  padding-top: 29px;
  font-size: 10px;
  letter-spacing: 3px;
  font-weight: 300;

  -webkit-transition: color .2s linear;
  -moz-transition: color .2s linear;
  -ms-transition: color .2s linear;
  -o-transition: color .2s linear;
  transition: color .2s linear;
}

header .link:hover,
header .link.active {
  color: #ffde4c;
}

header .link:after {
  opacity: 0;
  content: '';
  position: absolute;
  bottom: 6px;
  left: 50%;
  margin-left: -5px;
  width: 10px;
  height: 17px;
  background: url('../img/header-leaf.png') no-repeat center center;

  -webkit-transition: opacity .2s linear;
  -moz-transition: opacity .2s linear;
  -ms-transition: opacity .2s linear;
  -o-transition: opacity .2s linear;
  transition: opacity .2s linear;
}

header .link.active:after {
  opacity: 1;
}

.page {
  display: block;
  padding-top: 120px;
  min-height: 768px;
  min-height: 100vh;
}

.text-block {
  margin: 0 .6em 1em;
  padding: 1em 1.2em;
  max-width: 90%;
  max-width: calc(100% - .6em);
  font-size: 16px;
  text-align: center;
  background-color: rgba(0, 0, 0, .15);
}

.text-block p:last-child,
.text-block h1:last-child {
  margin-bottom: 0;
}

.text-block p {
  margin-bottom: 1em;
  font-size: .85em;
  line-height: 1.35;
  font-weight: 300;
  color: #eee;
}

.text-block h1 {
  color: #eee;
  font-weight: 300;
  font-size: 1em;
  line-height: 1.6;
  text-transform: uppercase;
}

.text-block strong {
  font-weight: 900;
}

.text-block a {
  color: #ffde4c;
}

.text-block a:hover {
  text-decoration: underscore;
}

#home .logo {
  display: block;
  margin: -20px auto 40px;
  max-width: 90%;
  min-height: 80px;
  max-height: 180px;
  min-height: 20vh;
  max-height: 25vh;
}

#home .text-block {
  margin: 0 auto;
  width: 768px;
}

#quienes-somos {
  padding-top: 220px;
}

#quienes-somos .text-block {
  margin: 0 auto 40px;
  width: 500px;
}

.instituciones {
  position: relative;
  max-width: 1152px;
  margin: 0 auto;
  padding: 0 10px;
}

.instituciones .item {
  float: left;
  text-align: center;
  margin: 0 1.5% 20px;
  width: 22%;
}

@media all and (max-width: 960px) {
  .instituciones .item {
    margin: 0 2% 20px;
    width: 46%;
  }
}

@media all and (max-width: 450px) {
  .instituciones .item {
    margin: 0 5% 20px;
    width: 90%;
  }
}

.instituciones .logo {
  position: relative;
  margin-bottom: 15px;
  border-radius: 4px;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  border: 15px solid transparent;
  border-left-width: 20px;
  border-right-width: 20px;
}

.instituciones .logo span {
  display: block;
  padding-top: 40%;
}

.instituciones .link {
  color: #fff;
  font-weight: 500;
  text-decoration: none;
  font-size: 14px;
  -webkit-transition: color .2s linear;
  -moz-transition: color .2s linear;
  -ms-transition: color .2s linear;
  -o-transition: color .2s linear;
  transition: color .2s linear;
}

.instituciones .link:hover {
  color: #ffde4c;
}

#agenda .text-block {
  margin: 0 auto 40px;
  width: 600px;
}

.calendar {
  position: relative;
  max-width: 1152px;
  margin: 0 auto 60px;
  padding: 0 10px;
}

.calendar .item {
  float: left;
  text-align: center;
  margin-bottom: 20px;
  width: 25%;
  height: 357px;
  padding: 30px 40px 0;
  border-left: 1px solid rgba(255, 255, 255, .6);
}

.calendar .item:first-child {
  border-left: none;
}

@media all and (max-width: 960px) {
  .calendar .item {
    width: 50%;
  }

  .calendar .item:nth-child(3n) {
    border-left: none;
  }
}

@media all and (max-width: 550px) {
  .calendar .item {
    width: 100%;
    border-left: none;
  }
}

.calendar .day {
  max-width: 100%;
  width: 150px;
  margin: 0 auto 40px;
  overflow: hidden;
  border-radius: 8px;
  text-align: center;
  font-size: 13px;
}

.calendar .day h1 {
  font-size: 1.7em;
  margin: 0;
  padding: 10px 0 4px;
  color: #fff;
  font-weight: 100;
  background-color: #0E7E05;
}

.calendar .day p {
  font-size: 4.5em;
  margin: 0;
  padding: 10px 0 19px;
  color: #0E7E05;
  background-color: #fff;
}

.calendar .desc {
  margin: 0 auto;
  padding: 16px 20px;
  max-width: 100%;
  width: 200px;
  font-size: 16px;
  text-align: center;
  border: 1px solid #eee;
  font-size: 14px;
  line-height: 1.35;
  font-weight: 100;
  color: #eee;
  background-color: rgba(0, 0, 0, .15);
}

#como-participo {
  padding-top: 200px;
}

#como-participo .text-block {
  float: left;
  width: 31%;
  margin: 0 1% 40px;
  text-align: left;
}

@media all and (max-width: 960px) {
  #como-participo .text-block {
    width: 48%;
    margin: 0 1% 20px;
  }
}

@media all and (max-width: 550px) {
  #como-participo .text-block {
    width: 100%;
    margin: 0 0 20px;
  }
}

#capacitacion .text-block {
  float: left;
  width: 48%;
  margin: 0 1% 20px;
  text-align: left;
}

@media all and (max-width: 550px) {
  #capacitacion .text-block {
    width: 100%;
    margin: 0 0 20px;
  }
}

#contacto {
  padding-top: 300px;
}

#contacto .text-block {
  width: 450px;
  margin: 0 auto;
}
