/* Reset CSS */
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* End Reset CSS */

* { box-sizing: border-box }

body {
  font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
  font-weight: 300;
  font-family: sans-serif;
  font-kerning: normal;
  background-size: cover;
  background-color: #008637;
  background-attachment: fixed;
  background-position: center bottom;
  background-image: url('../img/home-bg.jpg');
}

.header-wrapper {
  position: absolute;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  /*
  http://www.cssmatic.com/es/gradient-generator#'\-moz\-linear\-gradient\%28left\%2C\%20rgba\%2851\%2C51\%2C51\%2C0\%29\%200\%25\%2C\%20rgba\%2851\%2C51\%2C51\%2C0\.3\%29\%2030\%25\%2C\%20rgba\%2851\%2C51\%2C51\%2C0\.3\%29\%2070\%25\%2C\%20rgba\%2851\%2C51\%2C51\%2C0\%29\%20100\%25\%29\%3B'
  */
  background: rgba(51,51,51,0);
  background: -moz-linear-gradient(left, rgba(51,51,51,0) 0%, rgba(51,51,51,0.3) 30%, rgba(51,51,51,0.3) 70%, rgba(51,51,51,0) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(51,51,51,0)), color-stop(30%, rgba(51,51,51,0.3)), color-stop(70%, rgba(51,51,51,0.3)), color-stop(100%, rgba(51,51,51,0)));
  background: -webkit-linear-gradient(left, rgba(51,51,51,0) 0%, rgba(51,51,51,0.3) 30%, rgba(51,51,51,0.3) 70%, rgba(51,51,51,0) 100%);
  background: -o-linear-gradient(left, rgba(51,51,51,0) 0%, rgba(51,51,51,0.3) 30%, rgba(51,51,51,0.3) 70%, rgba(51,51,51,0) 100%);
  background: -ms-linear-gradient(left, rgba(51,51,51,0) 0%, rgba(51,51,51,0.3) 30%, rgba(51,51,51,0.3) 70%, rgba(51,51,51,0) 100%);
  background: linear-gradient(to right, rgba(51,51,51,0) 0%, rgba(51,51,51,0.3) 30%, rgba(51,51,51,0.3) 70%, rgba(51,51,51,0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333333', endColorstr='#333333', GradientType=1 );
}

header {
  margin: 0 auto;
  padding: 0 10px;
  max-width: 1152px;
  width: 100%;
  height: 68px;
  text-align: justify;
  -ms-text-justify: distribute-all-lines;
  text-justify: distribute-all-lines;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

header:after {
  content: '';
  width: 100%;
  display: inline-block;
  font-size: 0;
  line-height: 0;
}

header a {
  display: inline-block;
  text-decoration: none;
  height: 68px;
  vertical-align: top;
}

header .logo {
  overflow: hidden;
}

@media screen and (max-width: 1279px) {
  header .logo {
    width: 99px;
  }
}

header .logo img {
  display: block;
  padding-top: 7px;
}

header .link {
  color: #fff;
  text-transform: uppercase;
  padding-top: 29px;
  font-size: 10px;
  letter-spacing: 3px;
  font-weight: 100;
}
