@font-face {
	font-family: 'HelveticaNeue-Light';
	src: url('HelveticaNeue-Light.eot');
	src: url('HelveticaNeue-Light.eot?#iefix') format('embedded-opentype'),
		url('HelveticaNeue-Light.woff') format('woff'),
		url('HelveticaNeue-Light.ttf')  format('truetype');
	font-weight: 300;
	font-style: normal;
}
